body, html {
    /*margin:0;
    padding:0;
    background:url("./Img/gris2.jpg");*/
    /*background-color: gray;*/    
}

#completo {
    height: 1000px;
    width:1000px;
    border:ridge 1px;
    margin: 0 auto;    
    border-radius: 5px;
}

#cuerpo_tabla {    
    width:90%;
    /*border:ridge 1px;    
    border-radius: 5px;*/
}